{% extends 'base.html' %}
{% load static %}

{% block title %}Testify Hub - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Testify Hub'ga Xush Kelibsiz</h1>
        <p>Qulay va innovatsion test platformamiz bilan muvaffaqiyat sari bir qadam yaqinlashing! Vaqtinggizni tejang, ta'lim va test jarayonlaringizni oson va tezkor tarzda boshqarishni xohlaysizmi? Bizning xizmatlarimiz sizga maqsadlaringizga erishishda ishonchli ko'mak beradi va natijalaringizni yangi cho'qqilarga olib chiqadi!</p>
        <a href="/about/" class="learn-more-btn">Batafsil</a>
    </div>
    <div class="image-section">
        <img src="{% static 'media/Top-12-Pioneers-in-Education-scaled.jpg' %}" alt="Testify Hub Image">
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
