{% extends 'base.html' %}
{% load static %}

{% block title %}Pricing - Testify Hub{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
<header class="pricing-header">
    <h1>Testify Hub Narxlari</h1>
    <p>O‘quv markazlari va ta’lim muassasalari uchun mos keladigan qulay tariflar.</p>
</header>
{% endblock %}


{% block content %}


{#<div class="pricing-section">#}
    <div class="pricing-card" data-plan="Basic">
        <h2>Basic</h2>
        <p>Test yaratish va boshqarish uchun boshlang‘ich imkoniyatlar</p>
        <p class="price">$50/month</p>
        <button onclick="openSubscribeForm('Basic')">Obuna bo'lish</button>
    </div>

    <div class="pricing-card" data-plan="Standard">
        <h2>Standard</h2>
        <p>Testlar va natijalarni ko‘proq boshqarish imkoniyatlari bilan</p>
        <p class="price">$150/month</p>
        <button onclick="openSubscribeForm('Standard')">Obuna bo'lish</button>
    </div>
    <div class="pricing-card" data-plan="Premium">
        <h2>Premium</h2>
        <p>To‘liq avtomatlashtirilgan tahlil va test yaratish</p>
        <p class="price">$300/month</p>
        <button onclick="openSubscribeForm('Premium')">Obuna bo'lish</button>
    </div>
{#</div>#}

<div id="subscribe-form" class="form-overlay">
    <form action="{% url 'subscribe' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="plan" id="plan-input" value="">
        <h3>Subscribe to <span id="plan-name">Plan</span></h3>
        <label for="first_name">Ism:</label>
        <input type="text" name="first_name" required>
        <label for="last_name">Familiya:</label>
        <input type="text" name="last_name" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="phone">Telefon raqam:</label>
        <input type="text" name="phone" required>
        <label for="description">Izoh:</label>
        <textarea name="description"></textarea>
        <button type="submit">Yuborish</button>
        <button type="button" onclick="closeSubscribeForm()">Yopish</button>
    </form>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/pricing.js' %}"></script>
{% endblock %}
