{% extends 'base.html' %}
{% block title %}Watch a Demo - Testify Hub{% endblock %}

{% block content %}
    <section class="video-section">
        <h1>Watch a Demo</h1>
        <!-- YouTube video iframe -->
        <iframe width="800" height="450"
                src="https://www.youtube.com/embed/-6F2yzxOFvE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </section>
{% endblock %}
{#https://youtube.com/shorts/-6F2yzxOFvE?feature=share#}